@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom 3D flip animation utilities */
@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .duration-600 {
    transition-duration: 600ms;
  }
}


